<div class="order-container">
  <div class="order-header-container">
    <h1>Category</h1>
  </div>
  <div class="category-card-container">
    <mat-card class="category-card" [routerLink]="['/order-category', category.id]" routerLinkActive="router-link-aktive" *ngFor="let category of categories$ | async">
      <img mat-card-image [src]="category.imageUrl" alt="{{ category.catagoryName }}" />
      <mat-card-title>{{ category.catagoryName }}</mat-card-title>
    </mat-card>
  </div>
</div>
<button matFab (click)="openDialog()" class="add-btn">
  <mat-icon>add</mat-icon>
</button>
