<div class="restaurant-container">
  <div class="restaurant-header-container">
    <h1>{{ categoryName }}</h1>
  </div>
  <div class="restaurant-card-container">
    <mat-card
      class="restaurant-card"
      *ngFor="let restaurant of restaurant$ | async"
      [routerLink]="['/restaurant', restaurant.id]"
      [queryParams]="{ categoryId: categoryId }"
    >
      <button
        matIconButton
        class="restaurant-menu-btn"
        [matMenuTriggerFor]="menu"
        (click)="$event.stopPropagation()"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="editRestaurant(restaurant)" mat-menu-item>Edit</button>
        <button
          class="delet-btn-edit-menu"
          (click)="deleteRestaurant(restaurant.id)"
          mat-menu-item
        >
          Delete
        </button>
      </mat-menu>

      <div class="restaurant-card-content">
        <div class="restaurant-logo">
          <img
            mat-card-image
            [src]="restaurant.imageUrl"
            alt="{{ restaurant.restaurantName }}"
          />
        </div>
        <div class="restaurant-info">
          <mat-card-title>{{ restaurant.restaurantName }}</mat-card-title>
          <div>
            <p class="delivery-info">{{ restaurant.address }}</p>
            <p class="delivery-info">
              {{ restaurant.zipCode }}-{{ restaurant.city }}
            </p>
          </div>
          <div>
            <p class="delivery-info">Ab 50 € keine Lieferkosten!</p>
            <div class="rating">⭐⭐⭐⭐☆ <span>(217 Bewertungen)</span></div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<button matFab (click)="openDialog()" class="add-btn">
  <mat-icon>add</mat-icon>
</button>
