<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h2 mat-dialog-title>ADD User</h2>
  <mat-dialog-content class="dialog-main-container">
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Catagory</mat-label>
        <input [disabled]="loading" matInput />
      </mat-form-field>
    </div>
    <div>
      <div class="file-upload-container">
        <button mat-raised-button color="primary" (click)="fileInput.click()">
          Bild auswählen
        </button>
        <span class="file-name" *ngIf="selectedFileName">{{
          selectedFileName
        }}</span>
        <input
          #fileInput
          type="file"
          hidden
          (change)="onFileSelected($event)"
        />
      </div>
    </div>
    <div>
      <mat-form-field appearance="outline" class="mr-r-16">
        <mat-label>Zip Code</mat-label>
        <input [disabled]="loading" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="loading" matInput />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="dialog-btn-container">
      <button
        class="close-btn"
        (click)="closeDialog()"
        [disabled]="loading"
        matButton
      >
        Cancel
      </button>
      <button
        class="save-btn"
        matButton
        [disabled]="loading"
        (click)="saveUser()"
        cdkFocusInitial
      >
        Save
      </button>
    </div>
  </mat-dialog-actions>
</div>
