.Daten-media {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
  margin-top: 50px;
  font-size: 18px;

  h1{
    font-size: 45px;
  }
}

a {
  color: rgb(241, 8, 28);
}
