<div class="impressum-container">
  <div class="name-container">
    <div>
      <h1 class="impressum-line">Impressum</h1>
    </div>
    <div>
      <p>Angaben gemäß § 5 TMG</p>
    </div>
    <div class="company-info-impresum-container">
      <p>
        <strong>DeliveryApp GmbH</strong><br />
        Pragerstr. 458<br />
        1210 Wien
      </p>
    </div>
    <div class="company-info-impresum-container">
      <p>
        <strong>Vertreten durch:</strong><br />
        Phillip Schuster<br />
        <a class="telefon" href="tel:01541653513">Tel: 01541653513</a>
      </p>
    </div>
    <div class="company-info-impresum-container">
      <p><strong>Haftungsausschluss:</strong></p>
    </div>
  </div>

  <div class="haft-daten-container">
    <p>
      <strong>Haftung für Links</strong><br /><br />
      Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
      Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden
      Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
      Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
      verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung
      auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum
      Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche
      Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
      einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
      Rechtsverletzungen werden wir derartige Links umgehend entfernen.<br /><br />

      <strong>Datenschutz</strong><br /><br />
      Die Nutzung unserer Webseite ist in der Regel ohne Angabe
      personenbezogener Daten möglich. Soweit auf unseren Seiten
      personenbezogene Daten (beispielsweise Name, Anschrift oder
      E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf
      freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung
      nicht an Dritte weitergegeben. Wir weisen darauf hin, dass die
      Datenübertragung im Internet (z. B. bei der Kommunikation per E-Mail)
      Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem
      Zugriff durch Dritte ist nicht möglich. Der Nutzung von im Rahmen der
      Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur
      Übersendung von nicht ausdrücklich angeforderter Werbung und
      Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die
      Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im
      Falle der unverlangten Zusendung von Werbeinformationen, etwa durch
      Spam-Mails, vor.
    </p>
  </div>

  <div class="impressum-generator">
    Website Impressum von
    <a class="impressum-generator-a" href="https://www.impressum-generator.de"
      >impressum-generator.de</a
    >
  </div>
</div>
